initrd/usr
initrd/init
root/boot
root/bzImage
root/initrd.img
*.iso

linux-*
busybox-*
musl-*
limine-*
opendoas-*
kbd-*
e2fsprogs-*
gcc-*
wayland-*
libffi-*
expat-*
libxml2-*
libxkbcommon-xkbcommon-*
libdrm-*
pixman-*
*.tar*

