initrd/init
initrd/bin/
initrd/lib/
initrd/include/
initrd/share/
root/boot/bzImage
root/boot/initrd.img
root/boot/limine-bios-cd.bin
root/boot/limine-bios.bin
*.iso

linux-*
busybox-*
musl-*
limine-*
*.tar*

