initrd/init
initrd/bin/
initrd/lib/
initrd/include/
initrd/share/
initrd/libexec/
root/boot/
*.iso

linux-*
busybox-*
musl-*
limine-*
opendoas-*
wayland-*
libffi-*
expat-*
libxml2-*
libxkbcommon-xkbcommon-*
libdrm-*
pixman-*
*.tar*

